form {
  display: flex;
  width: 300px;
  flex-direction: column;
  padding: 12px 20px 20px;
  margin: 80px auto;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}

p {
  padding: 0;
  margin: 8px 0;
  font-style: italic;
  opacity: 0.82;
}

span {
  background-color: #f44336;
  padding: 8px;
  border-radius: 2px;
  margin: 12px 0 0;
  color: black;
}
